# Tf-Idf example

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
texts = [
    "good movie", "not a good movie", "did not like", 
    "i like it", "good one"
]
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=1, max_df=0.5, ngram_range=(1, 2))
features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names_out()
)

,did,did not,good movie,good one,it,like,like it,movie,not,not good,not like,one
0,0.00000,0.00000,0.707107,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.00000,0.000000
1,0.00000,0.00000,0.469515,0.000000,0.000000,0.000000,0.000000,0.469515,0.469515,0.581951,0.00000,0.000000
2,0.48214,0.48214,0.000000,0.000000,0.000000,0.388988,0.000000,0.000000,0.388988,0.000000,0.48214,0.000000
3,0.00000,0.00000,0.000000,0.000000,0.614189,0.495524,0.614189,0.000000,0.000000,0.000000,0.00000,0.000000
4,0.00000,0.00000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.707107